// header

.c-title{
  &__header{
    font-size: $font-size_xxl;
    color: $color_action2;
    @include mq(md){
      font-size: $font-size_lg;
    }
  }
  &__content{
    font-size: $font-size_xxl;
    text-align: center;
    margin-top: $spacing-lg;
    margin-bottom: $spacing-lg;
    // text-shadow: 3px 3px ($color_gray);
  }
  &__section{
    font-size: $font-size_xxl;
    margin-bottom: $spacing-lg;
    text-align: center;
    @include mq(md){
      font-size: $font-size_xl;
    }
  }
  &__article{
    font-size: $font-size_xxl;
    margin-bottom:$spacing-lg;
  }
}

.c-error{
  font-size: $font-size_md;
  color: #cc0000;
  font-weight: normal;
}

// btn

.c-btn{
  border: 1px solid $color_gray;
  padding: $spacing_md $spacing_lg;
  background: $color_white;
  box-sizing: border-box;
  transition: .3s;
  &:hover{
    cursor: pointer;
    opacity: 0.8;
  }
  &__sidebar{
    width: 80%;
    border: 1px solid $color_gray;
    padding: $spacing_md $spacing_lg;
    background: $color_white;
    box-sizing: border-box;
    transition: .3s;
    &:hover{
      cursor: pointer;
      opacity: 0.8;
    }
  }
  &--middle{
    border: 1px solid $color_gray;
    padding: 0 $spacing_lg;
    background: $color_white;
    box-sizing: border-box;
    transition: .3s;
    height: 60px;
    align-items: center;
    &:hover{
      cursor: pointer;
      opacity: 0.8;
    }
  }
  &--large{
    font-size: $font-size_lg;
    padding: $spacing-md $spacing-xl;
    &:hover{
      cursor: pointer;
      opacity: 0.8;
    }
  }
  &__wrapper{
    margin-top: $spacing_xxl;
    margin-bottom: $spacing_xl;
    box-sizing: border-box;
    text-align: center;
  }
  &__prompt{
    margin-left: $spacing_md;
    font-size: $font-size_md;
  }
  &--action{
    background: $color_action;
  }
  &--action2{
    background: $color_action2;
    color: $color_white;
  }
  &--action3{
    background: $color_action3;
  }
  &--sub{
    background: $color_sub;
    transition: .3s;
    &:hover{
      background: $color_white;
    }
  }
  &--white{
    background: $color_white;
    transition: .3s;
    &:hover{
      background: $color_sub;
    }
  }
  &--disable{
    background: $color_sub;
    &:hover{
      opacity: 1;
      cursor: not-allowed;
    }
  }
}

.c-nav{
  &__item{
    &--wrapper{
      display: flex;
      justify-content: space-between;
    }
  }
}

.c-section{
  padding-top: $spacing-lg;
  padding-bottom: $spacing-lg;
  width: 100%;
  box-sizing: border-box;
}

.c-lineupImg{
  display: flex;
  justify-content: space-between;
}
// img
.c-img{
  width: 100%;
  &--outer{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    object-fit: cover;
    margin: 0 auto;
  }
  &--round{
    width: 100%;
    border-radius: 50%;
    border: 1px solid $color_black;
  }
  // TODO 画像フィルター
  &__filter{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
  }
}

.c-list{
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  &--simple{
    margin-bottom: 20px;
    overflow: hidden;
  }
  &__title{
    font-weight: bold;
    font-size:$font-size_xl;
    overflow: hidden;
    overflow-wrap: break-word;
  }
  &__item{
    border-bottom: 1px solid $color_black;
    transition: .3s;
    &--simple{
      border-bottom: 1px solid $color_black;
      box-sizing: border-box;
      overflow: hidden;
      &:hover{
        background-color: rgba(221, 221, 221, 0.302);
      }
    }
  }
  &__link{
    display: block;
    transition: .3s;
    padding: $spacing-md;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
  }
}

// ユーザーアイコン
.c-card{
  border: 1px solid $color_gray;
  border-radius: 5px;
  box-sizing: border-box;
  padding: $spacing-sm;
  &__name{
    text-align: center;
    font-size: $font-size_lg;
    @include mq('md'){

    }
  }
  &__body{
    width: 100%;
    
  }
}

.c-tag{
  padding: $spacing-sm;
  font-size: $font-size_sm;
  line-height: $font-size_md;
  border: 1px solid $color_black;
  background: $color_action;
  border-radius: 5px;
  margin-right: $spacing-sm;
  box-sizing: border-box;
  color: $color_white;
  @include mq(md){
    font-size: $font-size_sm;
  }
  &--large{
    padding: $spacing-sm $spacing-lg;
    line-height: $font-size_lg;
    border: 1px solid $color_black;
    background: $color_action;
    color: $color_white;
    border-radius: 5px;
    margin-right: $spacing-sm;
    box-sizing: border-box;
    @include mq(md){
    font-size: $font-size_sm;
  }
    width: $font-size_lg;
  }
}

.c-txt{
  text-align: center;
}

.c-form{
  padding: $spacing-xl $spacing-3l;
  box-sizing: border-box;
  border: 1px solid $color_gray;
  background: #fff;
  margin-bottom: $spacing-lg;
  @include mq(md){
    padding: $spacing-xl $spacing-xl;
  }
  &__annotation{
    font-size: $font_size-md;
    font-weight: normal;
  }
  &__countLength{
    font-weight: normal;
    margin-top: 5px;
  }
  &__title{
    font-size: $font-size_xxl;
    text-align: start;
    color: $color_action2;
    @include mq(md){
      font-size: $font-size_xl;
    }
  }
  &__header{
    display:flex;
    align-items: center;
    background: $color_sub;
    padding: $spacing-md $spacing-lg;
    overflow: hidden;
  }
  &__label{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: $spacing-xxl;
    color: $color_black;
    font-weight: bold;
    font-size: $font-size_lg;
    &--checkBox{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: $color_gray;
      &:hover{
        cursor:pointer;
      }
    }
    &--outer{
      margin-top: $spacing_xxl;
      margin-bottom: $spacing_xxl;
    }
  }
  &__input{
    width: 100%;
    padding: $spacing-md;
    box-sizing: border-box;
    margin-top:$spacing-md; 
    border: none;
    background: $color_gray-light;
    font-size: $font-size_lg;
    @include mq(md){
      font-size: $font-size_default;
    }
    &--checkBox{
      margin-right: $spacing_sm;
      &:hover{
        cursor:pointer;
      }
    }
    &--half{
      width: 50%;
      padding: $spacing-md;
      box-sizing: border-box;
      margin-top:$spacing-md; 
      border: none;
      background: $color_gray-light;
    }
  }
  &__textarea{
    width: 100%;
    padding: $spacing-md;
    box-sizing: border-box;
    margin-top: $spacing-md;
    font-size: $font-size_lg;
  }
  &__wrapper{
    width: 400px;
    margin: 0 auto;
    font-size: $font-size_lg;
    @include border();
    box-sizing: border-box;
    @include mq(md){
      width: 100%;
    }
  }
}

// link
.c-link{
  &__underline{
    text-decoration: underline;
    transition: .3s;
    &:hover{
      color: $color_action3;
    }
  }
  &__previous{
    transition: .3s;
    &:hover{
      color: $color_action3;
    }
  }
}

.c-info{
  margin-bottom: $spacing-md;
  display: flex;
  justify-content: space-between;
  text-align:right;
  @include mq('md'){
    flex-wrap: wrap;
  }
  &__box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include mq(md){
      width: 50%;
      text-align: center;
    }
    &--left{
      text-align: start;
    }
    &--right{
      text-align:end;
    }
  &__item{
    display: flex;
    flex-wrap: wrap;
  }
    // &.c-dammy{
    //   @include mq(md){
    //     display: none;
    //   }
    // }
  }
}

// 
.c-container{
  &--half{
  width: 50%;
  }
  &__row{
    display: block;
    width: 100%;
  }
}

// rating
.c-rating{
  font-size:$font-size_lg;
  &::before{
    @include font-awesome(){
    margin-right: $spacing-sm;
    font-weight: 600;
    }
  }
  &--empty{
    &::before{
      @include font-awesome(){
        margin-right: $spacing-sm;
      }
    }
  }
}

// flash message
.c-flash{
  width: 100%;
  position: fixed;
  text-align: center;
  height: 80px;
  background: rgba(79, 195, 247, 0.8);
  line-height: 80px;
}

.c-row{
  width: 100%;
}

.c-column{
  &--25{
  width: 25%;
  }
  &--50{
    width: 50%;
  }
}

.c-flex{
  &--between{
    display: flex;
    justify-content: space-between;
  }
  &--around{
    display: flex;
    justify-content: space-around;
  }
  &--start{
    display: flex;
    justify-content: flex-start;
  }
  &--end{
    display: flex;
    justify-content: flex-end;
    &-sp{
      display: flex;
      justify-content: flex-end;
      @include mq(){
        justify-content: center;
      }
    }
  }
}
.c-star{
  font-size:$font-size_lg;
    @include mq(md){
      font-size: $font-size_sm;
      &::before{
        @include font-awesome(){
        font-weight: 600;
        }
      }
    }
  &::before{
    @include font-awesome(){
    font-weight: 600;
    }
  }
}

@keyframes fadeOut{
  0% {
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

// search
.c-search{
  &__wrapper{
    width: 100%;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin-bottom: $spacing_md;
    font-size: $font_size-lg;
    padding: $spacing_md;
  }
  &__btn{
    &:hover{
      cursor: pointer;
    }
  }
}

.c-selectBox{
  -webkit-appearance: none;
	-moz-appearance: none;
  margin-right: $spacing_md;
  font-size: $font_size-lg;
  padding: $spacing_md;
}

.c-article{
  border: 3px solid $color_gray;
  border-radius: 3px;
  box-sizing: border-box;
}

