.p-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: $spacing-sm;
  box-sizing: border-box;
  flex-wrap: wrap;
  &__title{
    &--wrapper{
      box-sizing: border-box;
      display: flex;
    }
  }
  &__auth{
    width: 250px;
  }
  &__navItem{
    margin-left: $spacing-md;
  }
  &__btn--mypage{
    background: $color_action;
    @include mq(md){
      font-size: $font-size_sm;
      padding: $spacing-md;
    }
  }
  &__btn{
    @include mq(md){
      font-size: $font-size_sm;
    }
    &--signup{
      background: $color_action;
      @include mq(md){
        font-size: $font-size_sm;
        padding: $spacing-md;
      }
    }
  }
  &__search{
    display: none;
    @include mq(md){
      display: inline;
      padding: $spacing-sm, $spacing-md;
    }
  }
}

// ハンバーガー

.p-header{
    &__hamburger {
    cursor: pointer;
    position: relative;
    width: 50px;
    height: 50px;
    display: none;
    @include mq(md){
      display: inline;
    }
    &--top{
      top: 12px;
      left: 12px;
    }
    &--middle{
      top: calc(50% - 3px/2);
      left: 12px;
    }
    &--bottom{
      bottom: 12px;
      left: 12px;
    }
  }
}

.c-hamburger__line {
  position: absolute;
  transition: 0.3s;
  width: calc(100% - 12px * 2);
  height: 3px;
  background-color: #342534;
}

.p-index{
  &__mainImg{
    margin-bottom: $spacing_lg;
  }
}

.p-categoryList{
  &__title{
    margin-bottom: 0;
    padding: $spacing-md $spacing-sm;
  }
  &__item{
    border-bottom: 1px solid $color_gray;
  }
  &__link{
    padding: $spacing-xl $spacing-sm;
  }
}


.p-pickupCategory{
  &__container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  &__item{
    position: relative;
    width: calc(100%/3 - 10px);
    margin-bottom: $spacing-md;
    position: relative;
    @include mq(md){
      width: calc(100%/2 - 15px);
    }
    &:hover{
      box-shadow: 0 0 16px #ddd;
    }
    &--outer{
      position:relative;
      & > .c-img{
        transition: .3s;
      }
      &:hover > .c-img{
        transform: scale(1.1);
      }
    }
  }
  &__link{
    display: block;
    position: relative;
    overflow: hidden;
    transition: .3s;
  }
  &__filter{
    background-color: rgba(0,0,0,.3);
    position: absolute;
    height: 100%;
    padding-top: 30%;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
  }
  &__name{
    text-align: center;
    color: $color_white;
  }
  
}

// ideaList
.p-ideaList{
  &__list{
    width: 100%;
  }
  &__item{
    border: 3px solid $color_main;
    width: 100%;
    margin-bottom: $spacing-xl;
    padding: $spacing-md;
    box-sizing: border-box;
  }
  &__rating{
    display: inline;
  }
  &__price{
    font-size: $font-size_lg;
  }
  &__body{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    &--left{
      width: 125px;
      box-sizing: border-box;
      padding: $spacing-md;
      text-align: center;
      margin-right: $spacing-md;
    }
    &--tag{
      display: inline-block;
      text-align: center;
      width: 100px;
      margin-bottom: 10px;
    }
    &--right{
      margin: 0 auto;
      width: 70%;
      box-sizing: border-box;
      position: relative;
      @include mq(md){
        overflow-wrap: break-word;
        width: 60%;
      }
    }
  }
  &__bottom{
    position: absolute;
    bottom: 10px;
    width: 100%;
    @include mq(md){
      display: none;
    }
    &--sp{
      display: none;
      @include mq(md){
        bottom: 10px;
        width: 100%;
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
        box-sizing: border-box;
      }
    }
  }
  &__btn{
    &--wrapper{
      @include mq(){
        justify-content: space-between;
        padding: 0 $spacing_md;
      }
    }
    &--detail{
      background: $color_action;
    }
  }
  &__user{
    width: 100px;
    padding: $spacing-sm;
  }
  &__userImg{
    &--outer{
      width: 80px;
      height: 80px;
      margin: 0 auto $spacing-md;
    }
  }
  &__summary{
    width: 100%;
    text-align: start;
    margin-bottom: 20px;
    font-size: $font-size_lg;
    color: $color_gray;
  }
  &__title{
    text-align: center;
    @include mq(md){
      text-align: start;
    }
    &--wrapper{
      margin-bottom: $spacing-lg;
      padding: 0 $spacing-md;
      @include mq(md){
        width: 80%;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  &__top{
    margin-bottom: $spacing-lg;
    box-sizing: border-box;
    padding: $spacing-md;
  }
}

// review
.p-review{
  &__list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
    &:hover{
      background-color: rgba(204,204,204, 0.5);
    }
  }
  &__listItem{
    box-sizing: border-box;
    // padding: $spacing-md;
    width: calc(50% - 15px);
    height:300px;
    overflow: hidden;
    margin-bottom: $spacing-md;
    border: 3px solid $color_main;
    box-sizing: border-box;
    @include mq(md){
      width: 100%;
    }
  }
  &__info{
    width: 33%;
    &--left{
      width: 33%;
    }
  }
  &__card{
    &--top{
      padding: $spacing-sm;
      margin: 0 auto;
      // border-radius: 50%;
    }
    &--bottom{
      margin: 0 auto;
    }
    &--partition{
        margin: $spacing-sm;
    }
  }
  &__summary{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    margin-top: 10px;
  }
  &__text{
    text-align: start;
  }
}

// form
.p-login{
  width: 500px;
  margin: 5% auto 0;
  @include mq(md){
    width: 100%;
  }
  &__label{
    display: block;
    &--wrapper{
      display: block;
      margin-bottom: $spacing-md;
    }
  }
  &__btnBox{
    align-items: center;
    box-sizing: border-box;
    margin-top: $spacing-lg;
  }
}

.p-register{
  width: 500px;
  margin: 5% auto 0;
  @include mq(md){
    width: 100%;
  }
  &__label{
    display: block;
    &--wrapper{
      display: block;
      margin-bottom: $spacing_md;
    }
  }
  &__btn{
    background: $color_action;
  }
}

// myItem

.p-simpleList{
  margin-bottom: $spacing_xxl;
  &__bottom{
    text-align: center;
    margin: $spacing_lg 0 $spacing_lg;
  }
  &__body{
    box-sizing: border-box;
    margin-bottom: $spacing-md;
    
    &--left{
      width: 100px;
      @include mq(md){
        width: 20%;
      }
    }
    &--right{
      width: 80%;
      @include mq(md){
        width: 70%;
      }
    }
    &--upper{
      margin-bottom: $spacing_md;
    }
    &--title{
      margin-bottom: 5px;
      font-size: 1.4rem;
      font-weight: bold;
    }
  }
  &__list{
    padding: $spacing_md;
  }
  &__item{
    border-bottom: 1px solid $color_black;
    width: 100%;
  }
  &__listLink{
    padding: $spacing-md;
  }
  &__linkBtn{
    background: $color_sub;
    transition: .3s;
    &:hover{
      background: $color_white;
    }
  }
  &--none{
    text-align: center;
  }
  &__userImg{
    &--outer{
      width: 50px;
      height: 50px;
      margin: 0 auto $spacing-md;
      @include mq(md){
        width: 20%;
      }
    }
  }
  &__under{
    text-align: center;
    margin: $spacing_lg 0 $spacing_lg;
  }
  &__summary{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    text-decoration: underline;
    color: $color_gray;
  }
  &__top{
    display: flex;
    margin-bottom: $spacing-md;
  }
  &__tag{
    margin-right: $spacing_md;
  }
}

// プロフィールサイドバー
.p-profileSidebar{
  &--sp{
    display: none;
    @include mq(md){
      display: block;
    }
  }
  &__btn{
    display: block;
    width:100%;
    margin: 0 auto $spacing_md;
    padding: $spacing-sm $spacing-md;
    text-align: center;
    &:hover{
      background: $color_sub;
    }
  }
  &__card{
    box-sizing: border-box;
    padding: $spacing-md;
    width: 100%;
    margin-right: 15px;
    overflow: hidden;
    border: 3px solid $color_main;
    background: #fff;
    &--sp{
      width: 90%;
      margin: 0 auto;
    }
  }
  &__img{
    &--outer{
      width: 80px;
      height: 80px;
      margin: 0 auto;
    }
  }
  &__item{
    display: block;
    border: none;
    margin: $spacing_sm 0;
  }
  &__btn{
    display: block;
    width:100%;
    margin: 0 auto $spacing_md;
    padding: $spacing-sm $spacing-md;
    text-align: center;
    &:hover{
      background: $color_sub;
    }
  }
}

// プロフィール編集
.p-profileEdit{
  width: 70%;
  margin: 0 auto;
  @include mq(md){
    width: 100%;
  }
  &__btn{
    background: #4FC3F7;
    margin: auto 0 0 auto;
    background: $color_action;
    &--container{
      display: flex;
      justify-content: flex-end;
      align-items: bottom;
    }
  }
  &__img{
    &--outer{
      width: 150px;
      height: 150px;
      margin: $spacing-lg auto;
    }
  }
  &__label{
    display: block;
    &--container{
      display: block;
      margin-bottom: $spacing-md;
    }
  }
  &__password{
    color: $color_gray;
  }
  &__row{
    margin-top: $spacing-xxl;
    &--password{
      display: flex;
      justify-content: space-between;
      margin-bottom: $spacing-md;
    }
  }
}

// アイデア投稿
.p-ideaPost{
  width: 90%;
  margin: 0 auto;
  &__form{
    &--posted{
      width: 90%;
      margin: 0 auto;
      height: 300px;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: space-around;
      font-size: $font-size_xxl;
      margin-bottom: $spacing-lg;
      flex-direction: column;
    }
  }
  &__annotation{
    font-size: $font-size_md;
  }
  &__label{
    display: flex;
    flex-direction: column;
    &--wrapper{
      display: block;
      margin-bottom: $spacing-md;
    }
  }
  &__btn{
    background: $color_action3;
    float: right;
    &--container{
      margin-top: $spacing-lg;
    }
    &--remove{
      // background:#F74F6E;
      background:$color_remove;
      color:$color_white;
      
    }
  }
  &__price::after{
    content: '¥';
  }
  &__textarea{
    height: 300px;
  }
}

// アイデア詳細画面
.p-ideaDetail{
  &__bottom{
    display: flex;
    justify-content: space-between;
  }
  &__btn{
    &--interest{
      height: 40px;
      line-height: 40px;
      font-size: $font-size_md;
      padding: 0;
      vertical-align: middle;
      box-sizing: border-box;
      background: $color_sub;
      // border-radius: 5px;
      width: 200px;
      // background: black;
      &::after{
        font-size: $font-size_default;
      }
    }
  }
  &__body{
    width: 100%;
    box-sizing: border-bx;
    display: flex;
    justify-content: flex-start;
    overflow:hidden;
    text-overflow: ellipsis;
  }
  &__content{
    padding: $spacing-md $spacing-lg;
    margin-bottom: $spacing-lg;
  }
  &__info{
    align-items: center;
    margin-bottom: $spacing-lg;
    &--left{
      text-align: start;
    }
    &--title{
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }
    &--tag{
      display: inline-block;
      width: 125px;
      text-align: center;
      margin-left: 10px;
      margin-right: 25px;
    }
  }
  &__infoItem{
    align-items: center;
    &--bottom{
        display: flex;
        width: 100%;
        margin-bottom: 10px;
        overflow:hidden;
        justify-content: space-between;
        box-sizing: border-box;
    }
  }
  &__rating{
    display: inline;
  }
  &__review{
    width: 100%;
    padding: $spacing-md;
    margin-top: $spacing-lg;
    text-align: center;
    box-sizing: border-box;
  }
  &__reviewForm{
    width: 100%;
    box-sizing: border-box;
    &--textarea{
      width: 80%;
      height: 80px;
    }
  }
  &__reviewFormRow{
    &--btn{
      justify-content: flex-end;
    }
    }
  &__reviewText{
    padding: $spacing-lg 0;
    box-sizing: border-box;
  }
  &__reviewTitle{
    font-weight: bold;
    font-size: $font-size_lg;
    text-align: center;
  }
  &__price{
    font-size: $font-size_lg;
  }
  &__summary{
    font-weight: bold;
    margin-bottom: $spacing-lg;
    font-size: $font-size_xl;
  }
  &__text{
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    text-align: start;
    &--wrapper{
      margin: $spacing-3l 0;
      padding: $spacing-3l;
      box-sizing: border-box;
    }
  }
  &__purchased{
    margin-bottom: $spacing-lg;
  }
  &__price{
    font-size: $font-size_xl;
    font-weight: bold;
    margin-right: $spacing_sm;
  }
  &__user{
    align-items: center;
    &--name{
      font-size: $font-size_lg;
    }
  }
  &__userImg--outer{
    width: 50px;
    height: 50px;
    margin-right: $spacing-lg;
  }
  &__nologin{
    text-align:center;
      font-size: $font-size_xxl;
    &--wrapper{
      margin-top: $spacing-3l;
    }
  }
}

//アイデアリスト

.p-ideasList{
  &__bottom{
    list-style: none;
    display: flex;
    justify-content: center;
    width: 200px;
    margin: 0 auto;
  }
  &__btn{
    font-size: $font-size_default;
    &--detail{
      font-size: $font-size_default;
      background: $color_action;
    }
  }
}

.p-fullList{
  width: 100%;
  &__body{
    width: 100%;
    box-sizing: border-bx;
    display: flex;
    justify-content: flex-start;
    overflow:hidden;
    text-overflow: ellipsis;
  }
  &__bottom{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
  }
  &__btn{
    &-detail{
      background: $color_action;
    }
  }
  &__item{
    border: 3px solid $color_main;
    width: 100%;
    margin-bottom: $spacing-md;
  }
  &__infoBox{
    &--left{
      text-align: start;
    }
    &--bottom{
      display: flex;
      width: 100%;
      margin-bottom: 10px;
      overflow:hidden;
    }
    &--title{
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }
    &--tag{
      display: inline-block;
      width: 125px;
      text-align: center;
      margin-left: 10px;
      margin-right: 25px;
    }
  }
  &__list{
    width: 100%;
  }
  &__rating{
    display: inline;
  }
  &__price{
    font-size: $font-size_lg;
  }
  &__user{
    // float: left;
    width: 120px;
    margin-right: $spacing-lg;
  }
  &__userCard{
    width: 100px;
    padding: $spacing-sm;
  }
  &__userImg{
    &--outer{
      width: 80px;
      height: 80px;
      margin: 0 auto $spacing-md;
    }
  }
  &__search{
    display: flex;
    justify-content: flex-start;
    padding: $spacing-sm;
    height: 100%;
    @include mq(md){
      flex-direction: column;
    }
    &--order{
      width: 150px;
    }
    &--btn{
      padding: $spacing-md;
    }
    &--row{
      display: flex;
      justify-content: flex-start;
      @include mq(md){
        width: 250px;
        margin: 0 auto $spacing-md;
      }
    }
  }
  &__searchSelect{
    width: 180px;
  }
  &__summary{
    width: 100%;
  }
  &__text{
    overflow: hidden;
    text-overflow: ellipsis;
    // white-space: nowrap;
    box-sizing: border-box;
    text-align: start;
    &--container{
      width: 100%;
      margin-top: $spacing_md;
    }
  }
  &__title{
    text-align: center;
    font-size: $font-size_xl;
  }
}


// ページネーション
.p-pagination{
  display: flex;
  justify-content: space-around;
  width: 200px;
  font-size: $font-size_lg;
  margin: $spacing-lg auto;
  &__link{
    color: $color_gray;
  }
}

// 気になるボタン
.p-interest{
  &__btn{
    background: #e6ae2e;
  }
}