.p-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  &__title{
    &--wrapper{
      box-sizing: border-box;
    }
  }
  &__auth{
    width: 250px;
  }
  &__navItem{
    margin-left: $spacing-md;
  }
  &__btn--mypage{
    background: $color_action;
  }
  &__btn--signup{
    background: $color_action;
  }
}

.p-categoryList{
  &__title{
    margin-bottom: 0;
    padding: $spacing-md $spacing-sm;
  }
  &__item{
    border-bottom: 1px solid $color_gray;
  }
  &__link{
    padding: $spacing-md $spacing-sm;
  }
}


.p-pickupCategory{
  &__container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  &__item{
    position: relative;
    // margin-bottom: 15px;
    width: calc(100%/3 - 10px);
    // height: 153px;
    // height: 95%;
    margin-bottom: $spacing-md;
    @include mq(md){
      width: calc(100%/2 - 15px);
    }
    &--outer{
      position:relative;
      & > .c-img{
        transition: .3s;
      }
      &:hover > .c-img{
        transform: scale(1.1)
      }
    }
  }
  &__link{
    display: block;
    position: relative;
    overflow: hidden;
    transition: .3s;
  }
  &__filter{
    background-color: rgba(0,0,0,.3);
    position: absolute;
    height: 96%;
    padding-top: 30%;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
  }
  &__name{
    text-align: center;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    color: $color_white;
  }
  
}

// attention
.p-attention{
  width: 100%;
  // padding: $spacing-md;
  &__list{
    width: 100%;
  }
  &__listItem{
    border: 3px solid $color_main;
    width: 100%;
    margin-bottom: $spacing-md;
  }
  &__listLink{
    padding: $spacing-md;
    // Todo ホバーしたらテキストのみアンダーライン
    // &:hover + .p-atettntion__listLink .c-txt{
    //   text-decoration: underline;
    // }
  }
  // &__info{
    // 3点リーダーが使えないのでfloatを使っている
    // float: left;
    // margin-bottom: $spacing-md;
    // display: flex;
    // justify-content: space-between;
    // text-align:right;
  // }
  &__infoBox{
    &--left{
      text-align: start;
    }
    &--bottom{
      display: flex;
      width: 100%;
      margin-bottom: 10px;
      overflow:hidden;
    }
    &--title{
      // width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }
    &--tag{
      display: inline-block;
      width: 100px;
      text-align: center;
      margin-left: 10px;
      margin-right: 25px;
    }
  }
  &__rating{
    display: inline;
  }
  &__price{
    font-size: $font-size_lg;
  }
  &__body{
    width: 100%;
    box-sizing: border-bx;
    display: flex;
    justify-content: flex-start;
    overflow:hidden;
    text-overflow: ellipsis;
  }
  &__user{
    // float: left;
    width: 120px;
    margin-right: $spacing-lg;
  }
  &__userCard{
    width: 100px;
    padding: $spacing-sm;
  }
  &__userImg{
    border: 1px solid $color_black;
    border-radius: 50%;
    &--outer{
      width: 80px;
      height: 80px;
      margin: 0 auto $spacing-md;
    }
  }
  &__summary{
    // TODO jsを使用して複数行の3点リーダー実装
    // width: calc(100% - 120px);
    // width: 30px;
    width: 100%;
  }
  &__text{
    overflow: hidden;
    text-overflow: ellipsis;
    // white-space: nowrap;
    box-sizing: border-box;
    text-align: start;
    &--container{
      width: 100%;
      margin-top: $spacing_md;
    }
  }
}

// review
.p-review{
  &__list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  &__listItem{
    box-sizing: border-box;
    // padding: $spacing-md;
    width: calc(50% - 15px);
    height:300px;
    overflow: hidden;
    margin-bottom: $spacing-md;
    border: 3px solid $color_main;
    box-sizing: border-box;
    @include mq(md){
      width: 100%;
    }
  }
  &__info{
    width: 33%;
    &--left{
      width: 33%;
    }
  }
  &__card{
    &--top{
      padding: $spacing-sm;
      margin: 0 auto;
      // border-radius: 50%;
    }
    &--bottom{
      margin: 0 auto;
    }
    &--partition{
        margin: $spacing-sm;
    }
  }
  &__summary{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    margin-top: 10px;
  }
  &__text{
    text-align: start;
  }
}

// form
.p-login{
  &__label{
    display: block;
    &--wrapper{
      display: block;
      margin-bottom: $spacing-md;
    }
  }
  &__btn{
    background: $color_action;
    float: right;
  }
  &__btnBox{
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }
}

.p-register{
  &__label{
    display: block;
    &--wrapper{
      display: block;
      margin-bottom: $spacing_md;
    }
  }
  &__btn{
    background: $color_action;
  }
}

// myItem

.p-ideaList{
  &__list{
    width: 100%;
    padding: $spacing_md;
  }
  &__listItem{
    border-bottom: 1px solid $color_black;
    width: 100%;
  }
  &__listLink{
    padding: $spacing-md;
    display: flex;
  }
  &__user{
    float: left;
    width: 10%;
    margin-right: $spacing-lg;
  }
  &__userImg{
    border: 1px solid $color_black;
    border-radius: 50%;
    &--outer{
      width: 50px;
      height: 50px;
      margin: 0 auto $spacing-md;
    }
  }
  &__info{
    // float: left;
    width: calc(90% - 15px);
    &--top{
    margin-bottom: $spacing-md;
    }
    &--bottom{
      width: 100%;
    }
    // jsを使用して複数行の3点リーダー実装
  }
  &__summary{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    text-decoration: underline;
    color: $color_gray;
  }
}

// プロフィールサイドバー
.p-profileSidebar{
  &__item{
    padding: $spacing-md;
    display: block;
    border: none;
  }
  &__card{
    box-sizing: border-box;
    padding: $spacing-md;
    width: 100%;
    margin-right: 15px;
    overflow: hidden;
    border: 3px solid $color_main;
  }
  &__img{
    border-radius: 50%;
    &--outer{
      width: 80px;
      height: 80px;
      margin: 0 auto;
    }
  }
  &__btn{
    display: block;
    width:100%;
    margin: 0 auto $spacing_md;
    padding: $spacing-sm $spacing-md;
    text-align: center;
    background-color: $color_sub;
  }
}

// プロフィール編集
.p-profEdit{
  width: 60%;
  &__label{
    display: block;
    &--wrapper{
      display: block;
      margin-bottom: $spacing-md;
    }
  }
  &__btn{
    background: $color_action;
    float: right;
  }
}

// アイデア投稿
.p-ideaPost{
  width: 60%;
  &__label{
    display: block;
    &--wrapper{
      display: block;
      margin-bottom: $spacing-md;
    }
  }
  &__btn{
    background: $color_action;
    float: right;
  }
}

// アイデア投稿ページ
.p-ideaPost{
  &__textArea{
    height: 300px;
  }
}

// アイデア詳細ページ
.p-ideaDetail{
  &__top{
    margin-bottom: $spacing_lg;
    display: flex;
    justify-content: flex-end;
    
  }
  &__price{
    font-size: $font-size_xl;
    font-weight: bold;
    margin-right: $spacing_sm;
  }
  &__purchased{
    background: $color-gray;
  }
  &__article{
    margin: $spacing-lg;
    padding: $spacing-lg;
  }
  &__summary{
    color: $color-gray;
    font-weight: bold;
    margin-bottom: $spacing-lg;
  }
  &__content{
    padding: $spacing-lg;
    border-top: 1px solid $color-black;
    border-bottom: 1px double $color-black;
    margin-bottom: $spacing-lg;
  }
}
