@charset "UTF-8";

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

[v-cloak] {
  display: none;
}

html,
body {
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #f8fafc;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #102833;
}

li {
  list-style: none;
}

.u-site__width {
  width: 980px;
  margin: 0 auto;
}

@media screen and (max-width: 992px) {
  .u-site__width {
    width: 100%;
  }
}

.l-header {
  width: 100%;
  background-color: #e6dfcf;
  height: 80px;
  z-index: 50;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #bbb;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.l-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.l-wrapper__1colum {
  margin-top: 10%;
  margin-bottom: 40px;
  box-sizing: border-box;
  overflow: hidden;
  flex-wrap: wrap;
}

@media screen and (max-width: 576px) {
  .l-wrapper__1colum {
    margin-top: 25%;
    padding-right: 3%;
    padding-left: 3%;
  }
}

.l-wrapper__2colum {
  margin-top: 120px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  overflow: hidden;
  flex-wrap: wrap;
}

@media screen and (max-width: 992px) {
  .l-wrapper__2colum {
    margin-top: 100px;
    padding-right: 3%;
    padding-left: 3%;
  }
}

.l-main__1colum {
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .l-main__1colum {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.l-main__2colum {
  justify-content: space-between;
  width: 75%;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .l-main__2colum {
    width: 100%;
  }
}

.l-sidebar {
  width: calc(25% - 20px);
  margin-right: 15px;
}

@media screen and (max-width: 768px) {
  .l-sidebar {
    display: none;
  }
}

.l-footer {
  height: 50px;
  line-height: 50px;
  background: #102833;
  color: #f8fafc;
  text-align: center;
  font-size: 0.8rem;
  margin-top: auto;
}

.l-sp__menu {
  padding-top: 25%;
  width: 100vw;
  height: 100vh;
  background: rgba(248, 250, 252, 0.9);
  z-index: 30;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
}

.c-title__header {
  font-size: 1.8rem;
  color: #001F66;
}

@media screen and (max-width: 768px) {
  .c-title__header {
    font-size: 1.2rem;
  }
}

.c-title__content {
  font-size: 1.8rem;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.c-title__section {
  font-size: 1.8rem;
  margin-bottom: 15px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .c-title__section {
    font-size: 1.4rem;
  }
}

.c-title__article {
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.c-error {
  font-size: 0.9rem;
  color: #cc0000;
  font-weight: normal;
}

.c-btn {
  border: 1px solid #999;
  padding: 10px 15px;
  background: #f8fafc;
  box-sizing: border-box;
  transition: 0.3s;
}

.c-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.c-btn__sidebar {
  width: 80%;
  border: 1px solid #999;
  padding: 10px 15px;
  background: #f8fafc;
  box-sizing: border-box;
  transition: 0.3s;
}

.c-btn__sidebar:hover {
  cursor: pointer;
  opacity: 0.8;
}

.c-btn--large {
  font-size: 1.2rem;
  padding: 10px 20px;
}

.c-btn--large:hover {
  cursor: pointer;
  opacity: 0.8;
}

.c-btn__wrapper {
  margin-top: 30px;
  margin-bottom: 20px;
  box-sizing: border-box;
  text-align: center;
}

.c-btn__prompt {
  margin-left: 10px;
  font-size: 0.9rem;
}

.c-btn--action {
  background: rgba(88, 102, 254, 0.7);
}

.c-btn--action2 {
  background: #001F66;
  color: #f8fafc;
}

.c-btn--action3 {
  background: #4FC3F7;
}

.c-btn--sub {
  background: #cfd5e6;
  transition: 0.3s;
}

.c-btn--sub:hover {
  background: #f8fafc;
}

.c-btn--white {
  background: #f8fafc;
  transition: 0.3s;
}

.c-btn--white:hover {
  background: #cfd5e6;
}

.c-btn--disable {
  background: #cfd5e6;
}

.c-btn--disable:hover {
  opacity: 1;
  cursor: not-allowed;
}

.c-nav__item--wrapper {
  display: flex;
  justify-content: space-between;
}

.c-section {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
}

.c-lineupImg {
  display: flex;
  justify-content: space-between;
}

.c-img {
  width: 100%;
}

.c-img--outer {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
}

.c-img--round {
  width: 100%;
  border-radius: 50%;
  border: 1px solid #102833;
}

.c-img__filter {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.c-list {
  width: 100%;
  box-sizing: border-box;
}

.c-list--simple {
  margin-bottom: 20px;
}

.c-list__title {
  font-weight: bold;
  font-size: 1.4rem;
}

.c-list__item {
  border-bottom: 1px solid #102833;
  transition: 0.3s;
}

.c-list__item--simple {
  border-bottom: 1px solid #102833;
  box-sizing: border-box;
}

.c-list__item--simple:hover {
  background-color: rgba(221, 221, 221, 0.302);
}

.c-list__link {
  display: block;
  transition: 0.3s;
  padding: 10px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.c-card {
  border: 1px solid #999;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px;
}

.c-card__name {
  text-align: center;
}

.c-card__body {
  width: 100%;
}

.c-tag {
  padding: 5px;
  font-size: 0.8rem;
  line-height: 0.9rem;
  border: 1px solid #102833;
  background: rgba(88, 102, 254, 0.7);
  border-radius: 5px;
  margin-right: 5px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .c-tag {
    font-size: 0.8rem;
  }
}

.c-tag--large {
  padding: 5px 15px;
  line-height: 1.2rem;
  border: 1px solid #102833;
  background: #F7637e;
  color: white;
  border-radius: 5px;
  margin-right: 5px;
  box-sizing: border-box;
  width: 1.2rem;
}

@media screen and (max-width: 768px) {
  .c-tag--large {
    font-size: 0.8rem;
  }
}

.c-txt {
  text-align: center;
}

.c-form {
  padding: 20px 40px;
  box-sizing: border-box;
  border: 1px solid #999;
  background: #fff;
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .c-form {
    padding: 20px 20px;
  }
}

.c-form__annotation {
  font-size: 0.9rem;
  font-weight: normal;
}

.c-form__countLength {
  font-weight: normal;
  margin-top: 5px;
}

.c-form__title {
  font-size: 1.8rem;
  text-align: start;
  color: #001F66;
}

@media screen and (max-width: 768px) {
  .c-form__title {
    font-size: 1.4rem;
  }
}

.c-form__header {
  display: flex;
  align-items: center;
  background: #cfd5e6;
  padding: 10px 15px;
}

.c-form__label {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 30px;
  color: #102833;
  font-weight: bold;
  font-size: 1.2rem;
}

.c-form__label--checkBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #999;
}

.c-form__label--checkBox:hover {
  cursor: pointer;
}

.c-form__label--outer {
  margin-top: 30px;
  margin-bottom: 30px;
}

.c-form__input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 10px;
  border: none;
  background: rgba(204, 204, 204, 0.8);
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  .c-form__input {
    font-size: 1rem;
  }
}

.c-form__input--checkBox {
  margin-right: 5px;
}

.c-form__input--checkBox:hover {
  cursor: pointer;
}

.c-form__input--half {
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 10px;
  border: none;
  background: rgba(204, 204, 204, 0.8);
}

.c-form__textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 10px;
  font-size: 1.2rem;
}

.c-form__wrapper {
  width: 400px;
  margin: 0 auto;
  font-size: 1.2rem;
  border: 1px solid #102833;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .c-form__wrapper {
    width: 100%;
  }
}

.c-link__underline {
  text-decoration: underline;
  transition: 0.3s;
}

.c-link__underline:hover {
  color: #4FC3F7;
}

.c-link__previous {
  transition: 0.3s;
}

.c-link__previous:hover {
  color: #4FC3F7;
}

.c-info {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  text-align: right;
}

.c-info__box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .c-info__box {
    width: 33%;
    text-align: center;
  }
}

.c-info__box--left {
  text-align: start;
}

.c-info__box__item {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .c-info__box.c-dammy {
    display: none;
  }
}

.c-container--half {
  width: 50%;
}

.c-container__row {
  display: block;
  width: 100%;
}

.c-rating {
  font-size: 1.2rem;
}

.c-rating::before {
  font-family: "Font Awesome 5 Free";
  content: "\F005";
  color: #F5D300;
  margin-right: 5px;
  font-weight: 600;
}

.c-rating--empty::before {
  font-family: "Font Awesome 5 Free";
  content: "\F005";
  color: #F5D300;
  margin-right: 5px;
}

.c-flash {
  width: 100%;
  position: fixed;
  text-align: center;
  height: 80px;
  background: rgba(79, 195, 247, 0.8);
  line-height: 80px;
}

.c-row {
  width: 100%;
}

.c-column--25 {
  width: 25%;
}

.c-column--50 {
  width: 50%;
}

.c-flex--between {
  display: flex;
  justify-content: space-between;
}

.c-flex--around {
  display: flex;
  justify-content: space-around;
}

.c-flex--start {
  display: flex;
  justify-content: flex-start;
}

.c-flex--end {
  display: flex;
  justify-content: flex-end;
}

.c-flex--end-sp {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 576px) {
  .c-flex--end-sp {
    justify-content: center;
  }
}

.c-star {
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  .c-star {
    font-size: 0.8rem;
  }

  .c-star::before {
    font-family: "Font Awesome 5 Free";
    content: "\F005";
    color: #F5D300;
    font-weight: 600;
  }
}

.c-star::before {
  font-family: "Font Awesome 5 Free";
  content: "\F005";
  color: #F5D300;
  font-weight: 600;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.c-search__wrapper {
  width: 100%;
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  font-size: 1.2rem;
  padding: 10px;
}

.c-search__btn:hover {
  cursor: pointer;
}

.c-selectBox {
  margin-right: 10px;
  font-size: 1.2rem;
  padding: 10px;
}

.c-article {
  border: 3px solid #999;
  border-radius: 3px;
  box-sizing: border-box;
}

.p-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 5px;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.p-header__title--wrapper {
  box-sizing: border-box;
  display: flex;
}

.p-header__auth {
  width: 250px;
}

.p-header__navItem {
  margin-left: 10px;
}

.p-header__btn--mypage {
  background: rgba(88, 102, 254, 0.7);
}

@media screen and (max-width: 768px) {
  .p-header__btn--mypage {
    font-size: 0.8rem;
    padding: 10px;
  }
}

@media screen and (max-width: 768px) {
  .p-header__btn {
    font-size: 0.8rem;
  }
}

.p-header__btn--signup {
  background: rgba(88, 102, 254, 0.7);
}

@media screen and (max-width: 768px) {
  .p-header__btn--signup {
    font-size: 0.8rem;
    padding: 10px;
  }
}

.p-header__search {
  display: none;
}

@media screen and (max-width: 768px) {
  .p-header__search {
    display: inline;
    padding: 5px, 10px;
  }
}

.p-header__hamburger {
  cursor: pointer;
  position: relative;
  width: 50px;
  height: 50px;
  display: none;
}

@media screen and (max-width: 768px) {
  .p-header__hamburger {
    display: inline;
  }
}

.p-header__hamburger--top {
  top: 12px;
  left: 12px;
}

.p-header__hamburger--middle {
  top: calc(50% - 3px/2);
  left: 12px;
}

.p-header__hamburger--bottom {
  bottom: 12px;
  left: 12px;
}

.c-hamburger__line {
  position: absolute;
  transition: 0.3s;
  width: calc(100% - 12px * 2);
  height: 3px;
  background-color: #342534;
}

.p-index__mainImg {
  margin-bottom: 15px;
}

.p-categoryList__title {
  margin-bottom: 0;
  padding: 10px 5px;
}

.p-categoryList__item {
  border-bottom: 1px solid #999;
}

.p-categoryList__link {
  padding: 20px 5px;
}

.p-pickupCategory__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.p-pickupCategory__item {
  width: calc(100%/3 - 10px);
  margin-bottom: 10px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .p-pickupCategory__item {
    width: calc(100%/2 - 15px);
  }
}

.p-pickupCategory__item--outer {
  position: relative;
}

.p-pickupCategory__item--outer > .c-img {
  transition: 0.3s;
}

.p-pickupCategory__item--outer:hover > .c-img {
  transform: scale(1.1);
}

.p-pickupCategory__link {
  display: block;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}

.p-pickupCategory__filter {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  height: 100%;
  padding-top: 30%;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.p-pickupCategory__name {
  text-align: center;
  color: #f8fafc;
}

.p-ideaList__list {
  width: 100%;
}

.p-ideaList__item {
  border: 3px solid #e6dfcf;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
}

.p-ideaList__rating {
  display: inline;
}

.p-ideaList__price {
  font-size: 1.2rem;
}

.p-ideaList__body {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
}

.p-ideaList__body--left {
  width: 125px;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  margin-right: 10px;
}

.p-ideaList__body--tag {
  display: inline-block;
  text-align: center;
  width: 100px;
  margin-bottom: 10px;
}

.p-ideaList__body--right {
  margin: 0 auto;
  width: 70%;
  box-sizing: border-box;
  position: relative;
}

@media screen and (max-width: 768px) {
  .p-ideaList__body--right {
    overflow-wrap: break-word;
    width: 60%;
  }
}

.p-ideaList__bottom {
  position: absolute;
  bottom: 10px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .p-ideaList__bottom {
    display: none;
  }
}

.p-ideaList__bottom--sp {
  display: none;
}

@media screen and (max-width: 768px) {
  .p-ideaList__bottom--sp {
    bottom: 10px;
    width: 100%;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 576px) {
  .p-ideaList__btn--wrapper {
    justify-content: space-between;
    padding: 0 10px;
  }
}

.p-ideaList__btn--detail {
  background: rgba(88, 102, 254, 0.7);
}

.p-ideaList__user {
  width: 100px;
  padding: 5px;
}

.p-ideaList__userImg--outer {
  width: 80px;
  height: 80px;
  margin: 0 auto 10px;
}

.p-ideaList__summary {
  width: 100%;
  text-align: start;
  margin-bottom: 20px;
  font-size: 1.2rem;
  color: #999;
}

.p-ideaList__title {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .p-ideaList__title {
    text-align: start;
  }
}

.p-ideaList__title--wrapper {
  margin-bottom: 15px;
  padding: 0 10px;
}

@media screen and (max-width: 768px) {
  .p-ideaList__title--wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

.p-ideaList__top {
  margin-bottom: 15px;
  box-sizing: border-box;
  padding: 10px;
}

.p-review__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.p-review__list:hover {
  background-color: rgba(204, 204, 204, 0.5);
}

.p-review__listItem {
  box-sizing: border-box;
  width: calc(50% - 15px);
  height: 300px;
  overflow: hidden;
  margin-bottom: 10px;
  border: 3px solid #e6dfcf;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .p-review__listItem {
    width: 100%;
  }
}

.p-review__info {
  width: 33%;
}

.p-review__info--left {
  width: 33%;
}

.p-review__card--top {
  padding: 5px;
  margin: 0 auto;
}

.p-review__card--bottom {
  margin: 0 auto;
}

.p-review__card--partition {
  margin: 5px;
}

.p-review__summary {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  margin-top: 10px;
}

.p-review__text {
  text-align: start;
}

.p-login {
  width: 500px;
  margin: 5% auto 0;
}

@media screen and (max-width: 768px) {
  .p-login {
    width: 100%;
  }
}

.p-login__label {
  display: block;
}

.p-login__label--wrapper {
  display: block;
  margin-bottom: 10px;
}

.p-login__btnBox {
  align-items: center;
  box-sizing: border-box;
  margin-top: 15px;
}

.p-login__email--txt {
  margin-bottom: 20px;
}

.p-register {
  width: 500px;
  margin: 5% auto 0;
}

@media screen and (max-width: 768px) {
  .p-register {
    width: 100%;
  }
}

.p-register__label {
  display: block;
}

.p-register__label--wrapper {
  display: block;
  margin-bottom: 10px;
}

.p-simpleList {
  margin-bottom: 30px;
}

.p-simpleList__bottom {
  text-align: center;
  margin: 15px 0 15px;
}

.p-simpleList__body {
  box-sizing: border-box;
  margin-bottom: 10px;
}

.p-simpleList__body--left {
  width: 100px;
}

@media screen and (max-width: 768px) {
  .p-simpleList__body--left {
    width: 20%;
  }
}

.p-simpleList__body--right {
  width: 80%;
}

@media screen and (max-width: 768px) {
  .p-simpleList__body--right {
    width: 70%;
  }
}

.p-simpleList__body--upper {
  margin-bottom: 10px;
}

.p-simpleList__body--title {
  margin-bottom: 5px;
  font-size: 1.4rem;
  font-weight: bold;
}

.p-simpleList__list {
  padding: 10px;
}

.p-simpleList__item {
  border-bottom: 1px solid #102833;
  width: 100%;
}

.p-simpleList__listLink {
  padding: 10px;
}

.p-simpleList__linkBtn {
  background: #cfd5e6;
  transition: 0.3s;
}

.p-simpleList__linkBtn:hover {
  background: #f8fafc;
}

.p-simpleList--none {
  text-align: center;
}

.p-simpleList__userImg--outer {
  width: 80px;
  height: 80px;
  margin: 0 auto 10px;
}

@media screen and (max-width: 768px) {
  .p-simpleList__userImg--outer {
    width: 50px;
    height: 50px;
  }
}

.p-simpleList__under {
  text-align: center;
  margin: 15px 0 15px;
}

.p-simpleList__summary {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  text-decoration: underline;
  color: #999;
}

.p-simpleList__top {
  display: flex;
  margin-bottom: 10px;
}

.p-simpleList__tag {
  margin-right: 10px;
}

.p-profileSidebar--sp {
  display: none;
}

@media screen and (max-width: 768px) {
  .p-profileSidebar--sp {
    display: block;
  }
}

.p-profileSidebar__btn {
  display: block;
  width: 100%;
  margin: 0 auto 10px;
  padding: 5px 10px;
  text-align: center;
}

.p-profileSidebar__card {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  margin-right: 15px;
  overflow: hidden;
  border: 3px solid #e6dfcf;
  background: #fff;
}

.p-profileSidebar__card--sp {
  width: 90%;
  margin: 0 auto;
}

.p-profileSidebar__img--outer {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

.p-profileSidebar__item {
  display: block;
  border: none;
  margin: 5px 0;
}

.p-profileSidebar__btn {
  display: block;
  width: 100%;
  margin: 0 auto 10px;
  padding: 5px 10px;
  text-align: center;
}

.p-profileEdit {
  width: 70%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .p-profileEdit {
    width: 100%;
  }
}

.p-profileEdit__btn {
  margin: auto 0 0 auto;
}

.p-profileEdit__btn--container {
  display: flex;
  justify-content: flex-end;
  align-items: bottom;
}

.p-profileEdit__img {
  width: height 100%;
}

.p-profileEdit__img--outer {
  width: 150px;
  height: 150px;
}

.p-profileEdit__label--container {
  display: block;
  margin-bottom: 10px;
}

.p-profileEdit__password {
  color: #999;
}

.p-profileEdit__row {
  margin-top: 30px;
}

.p-profileEdit__row--password {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 30px;
}

.p-ideaPost {
  width: 90%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .p-ideaPost {
    width: 100%;
  }
}

.p-ideaPost__form--posted {
  width: 90%;
  margin: 0 auto;
  height: 300px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  font-size: 1.8rem;
  margin-bottom: 15px;
  flex-direction: column;
}

.p-ideaPost__annotation {
  font-size: 0.9rem;
}

.p-ideaPost__label {
  display: flex;
  flex-direction: column;
}

.p-ideaPost__label--wrapper {
  display: block;
  margin-bottom: 10px;
}

.p-ideaPost__btn {
  float: right;
}

.p-ideaPost__btn--container {
  margin-top: 15px;
}

.p-ideaPost__btn--remove {
  background: #F7637e;
  color: #f8fafc;
}

.p-ideaPost__price::after {
  content: "\A5";
}

.p-ideaPost__textarea {
  height: 300px;
}

.p-ideaDetail__bottom {
  display: flex;
  justify-content: space-between;
}

.p-ideaDetail__btn--interest {
  height: 40px;
  line-height: 40px;
  font-size: 0.9rem;
  padding: 0;
  vertical-align: middle;
  box-sizing: border-box;
  background: #cfd5e6;
  width: 200px;
}

.p-ideaDetail__btn--interest::after {
  font-size: 1rem;
}

.p-ideaDetail__body {
  width: 100%;
  box-sizing: border-bx;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  text-overflow: ellipsis;
}

.p-ideaDetail__content {
  padding: 10px 15px;
  margin-bottom: 15px;
}

.p-ideaDetail__info {
  align-items: center;
  margin-bottom: 15px;
}

.p-ideaDetail__info--left {
  text-align: start;
}

.p-ideaDetail__info--title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.p-ideaDetail__info--tag {
  display: inline-block;
  width: 125px;
  text-align: center;
  margin-left: 10px;
  margin-right: 25px;
}

.p-ideaDetail__infoItem {
  align-items: center;
}

.p-ideaDetail__infoItem--bottom {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
  justify-content: space-between;
  box-sizing: border-box;
}

.p-ideaDetail__rating {
  display: inline;
}

.p-ideaDetail__review {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  text-align: center;
  box-sizing: border-box;
}

.p-ideaDetail__reviewForm {
  width: 100%;
  box-sizing: border-box;
}

.p-ideaDetail__reviewForm--textarea {
  width: 80%;
  height: 80px;
}

.p-ideaDetail__reviewFormRow--btn {
  justify-content: flex-end;
}

.p-ideaDetail__reviewText {
  padding: 15px 0;
  box-sizing: border-box;
}

.p-ideaDetail__reviewTitle {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}

.p-ideaDetail__price {
  font-size: 1.2rem;
}

.p-ideaDetail__summary {
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 1.4rem;
}

@media screen and (max-width: 768px) {
  .p-ideaDetail__summary {
    font-size: 1.2rem;
  }
}

.p-ideaDetail__text {
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  text-align: start;
}

.p-ideaDetail__text--wrapper {
  padding: 40px 40px 15px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .p-ideaDetail__text--wrapper {
    padding: 20px 5px;
  }
}

.p-ideaDetail__text--not {
  margin-bottom: 30px;
}

.p-ideaDetail__purchased {
  margin-bottom: 15px;
}

.p-ideaDetail__purchased--not {
  text-align: center;
  font-size: 1.4rem;
}

.p-ideaDetail__purchased__nologinBtn--wrapper {
  margin-top: 50px;
}

.p-ideaDetail__price {
  font-size: 1.4rem;
  font-weight: bold;
  margin-right: 5px;
}

.p-ideaDetail__price--large {
  font-weight: bold;
  margin-bottom: 30px;
}

.p-ideaDetail__user {
  align-items: center;
}

.p-ideaDetail__user--name {
  font-size: 1.2rem;
}

.p-ideaDetail__userImg--outer {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.p-ideaDetail__nologin {
  text-align: center;
  font-size: 1.4rem;
}

.p-ideaDetail__nologin--wrapper {
  margin-top: 40px;
}

.p-ideaDetail__nologinBtn--wrapper {
  margin-top: 50px;
}

.p-ideasList__bottom {
  list-style: none;
  display: flex;
  justify-content: center;
  width: 200px;
  margin: 0 auto;
}

.p-ideasList__btn {
  font-size: 1rem;
}

.p-ideasList__btn--detail {
  font-size: 1rem;
  background: rgba(88, 102, 254, 0.7);
}

.p-ideaReviews {
  margin-bottom: 30px;
}

.p-ideaReviews__bottom {
  text-align: center;
  margin: 15px 0 15px;
}

.p-ideaReviews__body {
  box-sizing: border-box;
  margin-bottom: 10px;
}

.p-ideaReviews__body--left {
  width: 100px;
}

@media screen and (max-width: 768px) {
  .p-ideaReviews__body--left {
    width: 20%;
  }
}

.p-ideaReviews__body--right {
  width: 80%;
}

@media screen and (max-width: 768px) {
  .p-ideaReviews__body--right {
    width: 70%;
  }
}

.p-ideaReviews__body--upper {
  margin-bottom: 10px;
}

.p-ideaReviews__body--title {
  margin-bottom: 5px;
  font-size: 1.4rem;
  font-weight: bold;
}

.p-ideaReviews__list {
  padding: 10px;
}

.p-ideaReviews__item {
  padding-top: 15px;
  padding-bottom: 15px;
}

.p-ideaReviews--none {
  text-align: center;
}

.p-ideaReviews__userImg--outer {
  width: 50px;
  height: 50px;
  margin: 0 15px;
}

.p-ideaReviews__under {
  text-align: center;
  margin: 15px 0 15px;
}

.p-ideaReviews__review--txt {
  text-align: left;
}

.p-ideaReviews__top {
  margin-bottom: 10px;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .p-ideaReviews__top {
    flex-direction: column;
  }
}

.p-ideaReviews__top--row {
  margin-right: 20px;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .p-ideaReviews__top--row {
    margin: 0 auto 10px;
    display: flex;
    align-items: center;
  }
}

.p-ideaReviews__top--name {
  font-size: 1.4rem;
}

.p-ideaReviews__topBox {
  margin-right: 20px;
}

.p-ideaReviews__readmore {
  text-align: center;
}

.p-ideaReviews__readmore:hover {
  cursor: pointer;
}

.p-fullList {
  width: 100%;
}

.p-fullList__body {
  width: 100%;
  box-sizing: border-bx;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  text-overflow: ellipsis;
}

.p-fullList__bottom {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
}

.p-fullList__btn-detail {
  background: rgba(88, 102, 254, 0.7);
}

.p-fullList__item {
  border: 3px solid #e6dfcf;
  width: 100%;
  margin-bottom: 10px;
}

.p-fullList__infoBox--left {
  text-align: start;
}

.p-fullList__infoBox--bottom {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
}

.p-fullList__infoBox--title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.p-fullList__infoBox--tag {
  display: inline-block;
  width: 125px;
  text-align: center;
  margin-left: 10px;
  margin-right: 25px;
}

.p-fullList__list {
  width: 100%;
}

.p-fullList__rating {
  display: inline;
}

.p-fullList__price {
  font-size: 1.2rem;
}

.p-fullList__user {
  width: 120px;
  margin-right: 15px;
}

.p-fullList__userCard {
  width: 100px;
  padding: 5px;
}

.p-fullList__userImg--outer {
  width: 80px;
  height: 80px;
  margin: 0 auto 10px;
}

.p-fullList__search {
  display: flex;
  justify-content: flex-start;
  padding: 5px;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .p-fullList__search {
    flex-direction: column;
  }
}

.p-fullList__search--order {
  width: 150px;
}

.p-fullList__search--btn {
  padding: 10px;
}

.p-fullList__search--row {
  display: flex;
  justify-content: flex-start;
}

@media screen and (max-width: 768px) {
  .p-fullList__search--row {
    width: 250px;
    margin: 0 auto 10px;
  }
}

.p-fullList__searchSelect {
  width: 180px;
}

.p-fullList__summary {
  width: 100%;
}

.p-fullList__text {
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  text-align: start;
}

.p-fullList__text--container {
  width: 100%;
  margin-top: 10px;
}

.p-fullList__title {
  text-align: center;
  font-size: 1.4rem;
}

.p-pagination {
  display: flex;
  justify-content: space-around;
  width: 200px;
  font-size: 1.2rem;
  margin: 15px auto;
}

.p-pagination__link {
  color: #999;
}

.p-pagination__item.js-active > .p-pagination__link {
  color: #001F66;
}

.p-buy__btn--wrapper {
  margin-bottom: 30px;
}

.p-interest__btn {
  width: 120px;
}

.p-postReview__formRow--btn {
  margin-top: 30px;
}

