.l-header{
  background-color: $color_main;
  height: 80px;
  // z-index: 50;
}

.l-wrapper{
  min-height: 100vh;
  display:flex;
  flex-direction: column;
  &__1colum{
    margin-top: $spacing_3l;
    margin-bottom: $spacing_3l;
    box-sizing: border-box;
    padding-right: 3%;
    padding-left: 3%;
    overflow:hidden;
    flex-wrap: wrap;
  }
  &__2colum{
    margin-top: $spacing_3l;
    margin-bottom: $spacing_3l;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding-right: 3%;
    padding-left: 3%;
    overflow:hidden;
    flex-wrap: wrap;
  }
}


.l-main{
  &__1colum{
    width: 100%;
    box-sizing: border-box;
    @include mq(md){
      padding-right: $spacing-md;
      padding-left: $spacing-md;
    }
  }
  &__2colum{
    justify-content: space-between;
    width: 75%;
    box-sizing: border-box;
    @include mq(md){
      width: 100%;
      padding-right: $spacing-md;
      padding-left: $spacing-md;
    }
  }
}

.l-sidebar{
  width: calc(25% - 20px);
  margin-right: $spacing_lg;
  @include mq('md'){
    display: none;
  }
}

.l-footer{
  height: 50px;
  line-height: 50px;
  background: $color_black;
  color: $color_white;
  text-align: center;
  font-size: $font-size_sm;
  margin-top: auto;
}

.l-sp__menu{
  margin-top: 15%;
  width: 100vw;
  height: 100vh;
  background: rgba(248, 250, 252, 0.95);
  // background: black;
  z-index: 30;
  text-align:center;
  position: relatvie;
  transform: translateX( -100%);
  &--active{

  }
}